In [1]:
# imports
import pandas as pd
import numpy as np
import os
import requests
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [7]:
class foursquare_api_request:
    """
    Get a list of parameters to construct api request
    """
    def __init__(self, api_key, category, search_limit, ll):
        self.api_key = api_key
        self.category = category
        self.search_limit = search_limit
        self.ll = ll

    def request(self, url_params=None):
        """Given your API_KEY, send a GET request to the API.
        Args:
            api_host (str): The host site to
            api_key (str): Your API Key.
            url_params (dict): An optional set of query parameters in the request.
        Returns:
            dict: The JSON response from the request.
        """
        url = "https://api.foursquare.com/v3/places/search"
        headers = {
            "Accept": "application/json",
            'Authorization': self.api_key,
        }
        response = requests.get(url=url, headers=headers, params=url_params)
        return response.json()

    def search(self):
        """Query the Search API by a search term and location.
        Returns:
            dict: The JSON response from the request.
        """
        url_params = {
            'categories': self.category,
            'll': self.ll,
            'radius': 1000,
            'limit': self.search_limit
        }
        return self.request(url_params=url_params)

In [2]:
#set the keys
foursquare_id = os.environ["Foursquare_API"]

In [12]:
CATEGORYID = 16000 # 16000 is Landmarks and Outdoors
ll = "43.665269,-79.319796" # This is the first location of the bikes.csv df
SEARCH_LIMIT = 10

response = foursquare_api_request(foursquare_id, CATEGORYID, SEARCH_LIMIT, ll).search()

AttributeError: 'dict' object has no attribute 'json'

In [81]:
bike_dataframe = pd.read_csv('bikes.csv')
# for i in response['results']:
#     for j in i['categories']:
#         print(i, j)
result_df = pd.json_normalize(response['results'])
# result_df.to_json('foursquare_bike_row0.json')

index_list = []
for j in response['results']:
        index_list.append(bike_dataframe['index'][0])
list_df = pd.DataFrame()
list_df['citybike_index'] = index_list
fs_db_interm = pd.json_normalize(response['results'])
list_df[list(fs_db_interm.columns.values)] = fs_db_interm
list_df

,citybike_index,fsq_id,categories,chains,distance,link,name,timezone,geocodes.main.latitude,geocodes.main.longitude,...,location.cross_street,location.formatted_address,location.locality,location.postcode,location.region,related_places.children,geocodes.roof.latitude,geocodes.roof.longitude,geocodes.drop_off.latitude,geocodes.drop_off.longitude
0,0,4baa029cf964a52085433ae3,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],379,/v3/places/4baa029cf964a52085433ae3,Woodbine Park,America/Toronto,43.662892,-79.312532,...,at Kingston Rd,"Queen St (at Kingston Rd), Toronto ON M4L 1G7",Toronto,M4L 1G7,ON,"[{'fsq_id': '59446319f2905e37c0e0abf7', 'name'...",NaN,NaN,NaN,NaN
1,0,4b5f9a3df964a52003c429e3,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],791,/v3/places/4b5f9a3df964a52003c429e3,Greenwood Park,America/Toronto,43.669538,-79.329386,...,at Dundas,"150 Greenwood Ave (at Dundas), Toronto ON M4L 2R1",Toronto,M4L 2R1,ON,NaN,43.669538,-79.329386,NaN,NaN
2,0,4bfb074abbb7c928779a0743,"[{'id': 16003, 'name': 'Beach', 'icon': {'pref...",[],941,/v3/places/4bfb074abbb7c928779a0743,Ashbridges Bay Beach Volleyball,America/Toronto,43.662825,-79.308781,...,NaN,"1681 Lake Shore Blvd E, Toronto ON M4L 3W6",Toronto,M4L 3W6,ON,NaN,43.662825,-79.308781,NaN,NaN
3,0,4ad4c05ef964a520bef620e3,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],845,/v3/places/4ad4c05ef964a520bef620e3,Ashbridge's Bay Park,America/Toronto,43.661719,-79.310897,...,NaN,"Ashbridge's Bay Park Rd, Toronto ON M4M 1B4",Toronto,M4M 1B4,ON,NaN,43.661719,-79.310897,NaN,NaN
4,0,4bf5bb014d5f20a1cc0798fe,"[{'id': 16003, 'name': 'Beach', 'icon': {'pref...",[],867,/v3/places/4bf5bb014d5f20a1cc0798fe,Beach Volleyball,America/Toronto,43.662471,-79.309800,...,,Toronto ON,Toronto,NaN,ON,NaN,43.662471,-79.309800,NaN,NaN
5,0,4d0cef321f6bf04d75707a31,"[{'id': 16037, 'name': 'Playground', 'icon': {...",[],63,/v3/places/4d0cef321f6bf04d75707a31,Jonathan Ashbridge Park,America/Toronto,43.664679,-79.319687,...,,"20 Woodward Ave, Toronto ON M4L 1A7",Toronto,M4L 1A7,ON,"[{'fsq_id': '4deb8ba688774880e3387c0c', 'name'...",43.664679,-79.319687,43.664816,-79.319388
6,0,4fdbc663e4b029940a58c201,"[{'id': 16049, 'name': 'Surf Spot', 'icon': {'...",[],153,/v3/places/4fdbc663e4b029940a58c201,The Beach,America/Toronto,43.664482,-79.325548,...,,"1366 Queen St E, Toronto ON M4L 1C8",Toronto,M4L 1C8,ON,NaN,43.664482,-79.325548,NaN,NaN
7,0,4be3345b660ec928226dcb3b,"[{'id': 11149, 'name': 'Real Estate Agency', '...",[],173,/v3/places/4be3345b660ec928226dcb3b,The Ashbridge Estate,America/Toronto,43.665243,-79.322769,...,,"1444 Queen St E, Toronto ON M4L 1E1",Toronto,M4L 1E1,ON,NaN,43.665243,-79.322769,NaN,NaN
8,0,4f6f8dc0e4b08d8da7c679a0,"[{'id': 16037, 'name': 'Playground', 'icon': {...",[],238,/v3/places/4f6f8dc0e4b08d8da7c679a0,Duke of Connaught playground,America/Toronto,43.666504,-79.322407,...,,,NaN,NaN,NaN,NaN,43.666504,-79.322407,NaN,NaN
9,0,4c28e38bd26eb713275714d1,"[{'id': 16000, 'name': 'Landmarks and Outdoors...",[],251,/v3/places/4c28e38bd26eb713275714d1,Tubs & Gee Gage Rugby Field,America/Toronto,43.663203,-79.319922,...,,"1091 Eastern Ave, Toronto ON M4L 1A8",Toronto,M4L 1A8,ON,NaN,43.663203,-79.319922,43.663718,-79.320041

In [63]:
bike_dataframe = pd.read_csv('bikes.csv')
bike_dataframe

,Unnamed: 0,index,empty_slots,free_bikes,name,latitude,longitude,ll
0,0,0,3,16,Queen St E / Woodward Ave,43.665269,-79.319796,"43.665269,-79.319796"
1,1,1,13,2,Primrose Ave / Davenport Rd,43.671420,-79.445947,"43.67142,-79.445947"
2,2,2,9,14,Queen St. E / Rhodes Ave.,43.666224,-79.317693,"43.666224,-79.317693"
3,3,3,9,15,Bond St / Queen St E,43.653236,-79.376716,"43.653236,-79.376716"
4,4,4,9,18,Church St / Alexander St,43.663722,-79.380288,"43.663722,-79.380288"
...,...,...,...,...,...,...,...,...
669,669,669,11,3,Parkcrest Dr / Kingston Rd,43.735967,-79.219952,"43.73596719224253,-79.21995221481933"
670,670,670,18,1,Scarborough Soccer Centre,43.715466,-79.287660,"43.7154661,-79.2876595"
671,671,671,13,1,Lansdowne Ave / Seaforth Ave,43.642904,-79.437461,"43.64290439595669,-79.43746059447746"
672,672,672,15,0,Danforth Rd / Birchmount Rd,43.706880,-79.268510,"43.70688,-79.26850999999999"
673,673,673,19,0,Pharmacy Ave / Teesdale Pl,43.697356,-79.285287,"43.69735608087488,-79.28528711019696"

In [54]:
check_df = pd.read_json('foursquare_bike_row0.json')
# pd.json_normalize(check_df['categories'])
print(check_df.keys())
check_df.iloc[:, 1]

Index(['fsq_id', 'categories', 'chains', 'distance', 'link', 'name',
       'timezone', 'geocodes.main.latitude', 'geocodes.main.longitude',
       'location.address', 'location.country', 'location.cross_street',
       'location.formatted_address', 'location.locality', 'location.postcode',
       'location.region', 'related_places.children', 'geocodes.roof.latitude',
       'geocodes.roof.longitude', 'geocodes.drop_off.latitude',
       'geocodes.drop_off.longitude'],
      dtype='object')

0    [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
1    [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
2    [{'id': 16003, 'name': 'Beach', 'icon': {'pref...
3    [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
4    [{'id': 16003, 'name': 'Beach', 'icon': {'pref...
5    [{'id': 16037, 'name': 'Playground', 'icon': {...
6    [{'id': 16049, 'name': 'Surf Spot', 'icon': {'...
7    [{'id': 11149, 'name': 'Real Estate Agency', '...
8    [{'id': 16037, 'name': 'Playground', 'icon': {...
9    [{'id': 16000, 'name': 'Landmarks and Outdoors...
Name: categories, dtype: object

In [83]:
fs_park_dataframe = []
for i in bike_dataframe.index:
    
    CATEGORYID = 16000 # 16000 is Landmarks and Outdoors
    ll = bike_dataframe['ll'][i] # This is the first location of the bikes.csv df
    SEARCH_LIMIT = 10

    response = foursquare_api_request(foursquare_id, CATEGORYID, SEARCH_LIMIT, ll).search()

    index_list = []
    for j in response['results']:
            index_list.append(bike_dataframe['index'][i])
    list_df = pd.DataFrame()
    list_df['citybike_index'] = index_list
    fs_db_interm = pd.json_normalize(response['results'])
    list_df[list(fs_db_interm.columns.values)] = fs_db_interm
    fs_park_dataframe.append(list_df)

In [87]:
fs_park_dataframe2 = fs_park_dataframe

In [88]:
final_df = pd.concat(fs_park_dataframe2).reset_index(drop=True)
final_df

,citybike_index,fsq_id,categories,chains,distance,link,name,timezone,geocodes.main.latitude,geocodes.main.longitude,...,location.region,related_places.children,geocodes.roof.latitude,geocodes.roof.longitude,geocodes.drop_off.latitude,geocodes.drop_off.longitude,location.address_extended,related_places.parent.fsq_id,related_places.parent.name,location.po_box
0,0.0,4baa029cf964a52085433ae3,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],379.0,/v3/places/4baa029cf964a52085433ae3,Woodbine Park,America/Toronto,43.662892,-79.312532,...,ON,"[{'fsq_id': '59446319f2905e37c0e0abf7', 'name'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,4b5f9a3df964a52003c429e3,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],791.0,/v3/places/4b5f9a3df964a52003c429e3,Greenwood Park,America/Toronto,43.669538,-79.329386,...,ON,NaN,43.669538,-79.329386,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,4bfb074abbb7c928779a0743,"[{'id': 16003, 'name': 'Beach', 'icon': {'pref...",[],941.0,/v3/places/4bfb074abbb7c928779a0743,Ashbridges Bay Beach Volleyball,America/Toronto,43.662825,-79.308781,...,ON,NaN,43.662825,-79.308781,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,4ad4c05ef964a520bef620e3,"[{'id': 16032, 'name': 'Park', 'icon': {'prefi...",[],845.0,/v3/places/4ad4c05ef964a520bef620e3,Ashbridge's Bay Park,America/Toronto,43.661719,-79.310897,...,ON,NaN,43.661719,-79.310897,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,4bf5bb014d5f20a1cc0798fe,"[{'id': 16003, 'name': 'Beach', 'icon': {'pref...",[],867.0,/v3/places/4bf5bb014d5f20a1cc0798fe,Beach Volleyball,America/Toronto,43.662471,-79.309800,...,ON,NaN,43.662471,-79.309800,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6424,673.0,4bb2776135f0c9b6d050bb83,"[{'id': 16037, 'name': 'Playground', 'icon': {...",[],675.0,/v3/places/4bb2776135f0c9b6d050bb83,Oakridge Park,America/Toronto,43.693337,-79.279434,...,ON,NaN,43.693337,-79.279434,43.693207,-79.279405,NaN,NaN,NaN,NaN
6425,673.0,4e6a5dee18381ea1bddf40c9,"[{'id': 16019, 'name': 'Hiking Trail', 'icon':...",[],687.0,/v3/places/4e6a5dee18381ea1bddf40c9,Warden Woods Ravine,America/Toronto,43.702940,-79.280989,...,ON,NaN,43.702940,-79.280989,NaN,NaN,NaN,NaN,NaN,NaN
6426,673.0,e46a1808880945e2c829e7af,"[{'id': 16014, 'name': 'Farm', 'icon': {'prefi...",[],88.0,/v3/places/e46a1808880945e2c829e7af,Mackenzie Life,NaN,43.697165,-79.286352,...,ON,NaN,43.697165,-79.286352,43.696806,-79.286367,NaN,NaN,NaN,NaN
6427,673.0,40ad584837a44c8757d8279d,"[{'id': 16008, 'name': 'Campground', 'icon': {...",[],750.0,/v3/places/40ad584837a44c8757d8279d,Camp Muskoka,NaN,43.703097,-79.280358,...,ON,NaN,NaN,NaN,43.703173,-79.280576,NaN,NaN,NaN,NaN
6428,673.0,5db35c9b9f3a4ea240a50aa2,"[{'id': 16001, 'name': 'Bathing Area', 'icon':...",[],866.0,/v3/places/5db35c9b9f3a4ea240a50aa2,Urban Kitchen & Bath,NaN,43.690764,-79.291055,...,ON,NaN,43.690764,-79.291055,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
final_df.to_json('foursquare_outdoor_data.json')

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [91]:
four_square_df = pd.read_json('foursquare_outdoor_data.json')
four_square_df['categories']

0       [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
1       [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
2       [{'id': 16003, 'name': 'Beach', 'icon': {'pref...
3       [{'id': 16032, 'name': 'Park', 'icon': {'prefi...
4       [{'id': 16003, 'name': 'Beach', 'icon': {'pref...
                              ...
6424    [{'id': 16037, 'name': 'Playground', 'icon': {...
6425    [{'id': 16019, 'name': 'Hiking Trail', 'icon':...
6426    [{'id': 16014, 'name': 'Farm', 'icon': {'prefi...
6427    [{'id': 16008, 'name': 'Campground', 'icon': {...
6428    [{'id': 16001, 'name': 'Bathing Area', 'icon':...
Name: categories, Length: 6429, dtype: object

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating